<div mat-dialog-title>
    <h1 *ngIf="isAddMode">Add Department</h1>
<h1 *ngIf="!isAddMode">Edit Department</h1>
</div>

<form [formGroup]="form"  (ngSubmit)="onSubmit()">
<div mat-dialog-content class="content">
    <div class="modal-row">
        <mat-form-field appearance="outline">
            <mat-label>Department Name</mat-label>
            <input matInput type="text" formControlName="departmentname" [ngClass]="{ 'is-invalid': submitted && f.departmentname.errors }">
            <div *ngIf="submitted && f.departmentname.errors" class="invalid-feedback">
                <mat-hint>Department name is required</mat-hint>
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <mat-hint>Description is required</mat-hint>
            </div>
        </mat-form-field>
    </div>

   </div>
   
     <div mat-dialog-action class="action"> 
        <button [disabled]="loading" type="submit"  mat-raised-button disabled  color= "primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{isAddMode ? 'Save':'Update'}}
        </button>
                      <span class="example-spacer"></span>
        <button [disabled]="loading" [mat-dialog-close]="false" type="button" mat-raised-button disabled  color= "warn">
            Cancel
        </button>    
    </div>
</form>